#top-game-bar {
  position: fixed;
  width: 100vw;
  z-index: 1200 !important;

  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  /* height: 0.2vh; */
  max-height: 650px;

  color: white;
  text-align: center;

  background-color: var(--nav-background-color);

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#top-game-bar #return-btn {
  color: white;
  height: 100%;
  background-color: var(--nav-background-color);
  border: none;
  cursor: pointer;

  font-size: 30px;

  grid-column: 1/2;
}

#top-game-bar-header {
  grid-template-rows: 2/-2;
}
